<a href="/"><h1>Tools</h1></a><hr />
<div class="card-header">Rede Social Icon Animation</div>
<div class="wrapper">
    <div class="menu-object">
        <ul class="toggle">
            <li class="ico01 normalico" (click)='toggle()'></li>
            <li class="move-ico ico02">
                <a href="" class="link link01">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="move-ico ico03">
                <a href="" class="link link02">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li class="move-ico ico04">
                <a href="" class="link link03">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="move-ico ico05">
                <a href="" class="link link04">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        </ul>
    </div>
</div>